body {   
    margin : 0px;
    background-color: gray;
    display: flex;
    justify-content: center;
    
}

#chessBoard {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 10%;
}

.square.highlighted{
    background-color: green;
}


.square {
    height: 70px;
    width: 70px;
    display: flex;
    flex-shrink: 0;
    padding-bottom: 2px;
}

.light {
    background-color: #ffd599;
}

.dark {
    background-color: #b16e41;
}

.row {
    display: flex;
}


